SOAP/GestionTiendaSOAPCliente/xml-resources/web-service-references/GestionTienda_1/wsdl/localhost_8080/GestionTiendaSOAPServidor/GestionTienda.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidortienda/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidortienda/" name="GestionTienda">
<types>
<xsd:schema>
<xsd:import namespace="http://servidortienda/" schemaLocation="http://localhost:8080/GestionTiendaSOAPServidor/GestionTienda?xsd=1"/>
</xsd:schema>
</types>
<message name="importTienda">
<part name="parameters" element="tns:importTienda"/>
</message>
<message name="importTiendaResponse">
<part name="parameters" element="tns:importTiendaResponse"/>
</message>
<message name="setProducto">
<part name="parameters" element="tns:setProducto"/>
</message>
<message name="setProductoResponse">
<part name="parameters" element="tns:setProductoResponse"/>
</message>
<message name="getProducto">
<part name="parameters" element="tns:getProducto"/>
</message>
<message name="getProductoResponse">
<part name="parameters" element="tns:getProductoResponse"/>
</message>
<message name="exportProducto">
<part name="parameters" element="tns:exportProducto"/>
</message>
<message name="exportProductoResponse">
<part name="parameters" element="tns:exportProductoResponse"/>
</message>
<message name="importProducto">
<part name="parameters" element="tns:importProducto"/>
</message>
<message name="importProductoResponse">
<part name="parameters" element="tns:importProductoResponse"/>
</message>
<message name="setTienda">
<part name="parameters" element="tns:setTienda"/>
</message>
<message name="setTiendaResponse">
<part name="parameters" element="tns:setTiendaResponse"/>
</message>
<message name="getTienda">
<part name="parameters" element="tns:getTienda"/>
</message>
<message name="getTiendaResponse">
<part name="parameters" element="tns:getTiendaResponse"/>
</message>
<message name="exportTienda">
<part name="parameters" element="tns:exportTienda"/>
</message>
<message name="exportTiendaResponse">
<part name="parameters" element="tns:exportTiendaResponse"/>
</message>
<portType name="GestionTienda">
<operation name="importTienda">
<input wsam:Action="http://servidortienda/GestionTienda/importTiendaRequest" message="tns:importTienda"/>
<output wsam:Action="http://servidortienda/GestionTienda/importTiendaResponse" message="tns:importTiendaResponse"/>
</operation>
<operation name="setProducto">
<input wsam:Action="http://servidortienda/GestionTienda/setProductoRequest" message="tns:setProducto"/>
<output wsam:Action="http://servidortienda/GestionTienda/setProductoResponse" message="tns:setProductoResponse"/>
</operation>
<operation name="getProducto">
<input wsam:Action="http://servidortienda/GestionTienda/getProductoRequest" message="tns:getProducto"/>
<output wsam:Action="http://servidortienda/GestionTienda/getProductoResponse" message="tns:getProductoResponse"/>
</operation>
<operation name="exportProducto">
<input wsam:Action="http://servidortienda/GestionTienda/exportProductoRequest" message="tns:exportProducto"/>
<output wsam:Action="http://servidortienda/GestionTienda/exportProductoResponse" message="tns:exportProductoResponse"/>
</operation>
<operation name="importProducto">
<input wsam:Action="http://servidortienda/GestionTienda/importProductoRequest" message="tns:importProducto"/>
<output wsam:Action="http://servidortienda/GestionTienda/importProductoResponse" message="tns:importProductoResponse"/>
</operation>
<operation name="setTienda">
<input wsam:Action="http://servidortienda/GestionTienda/setTiendaRequest" message="tns:setTienda"/>
<output wsam:Action="http://servidortienda/GestionTienda/setTiendaResponse" message="tns:setTiendaResponse"/>
</operation>
<operation name="getTienda">
<input wsam:Action="http://servidortienda/GestionTienda/getTiendaRequest" message="tns:getTienda"/>
<output wsam:Action="http://servidortienda/GestionTienda/getTiendaResponse" message="tns:getTiendaResponse"/>
</operation>
<operation name="exportTienda">
<input wsam:Action="http://servidortienda/GestionTienda/exportTiendaRequest" message="tns:exportTienda"/>
<output wsam:Action="http://servidortienda/GestionTienda/exportTiendaResponse" message="tns:exportTiendaResponse"/>
</operation>
</portType>
<binding name="GestionTiendaPortBinding" type="tns:GestionTienda">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="importTienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exportProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="importProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setTienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exportTienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionTienda">
<port name="GestionTiendaPort" binding="tns:GestionTiendaPortBinding">
<soap:address location="http://localhost:8080/GestionTiendaSOAPServidor/GestionTienda"/>
</port>
</service>
</definitions>